.big_kard{
    background-color: rgb(209, 247, 231);
    border-radius: 7px;
    border-style: solid;
    border-color: rgb(21, 57, 42);
    padding: 20px;
    box-shadow: 0 0 15px rgb(21, 57, 42);
}
.h4{
    margin: 0px;
}
.text_justify{
    text-align: justify
}
main{
    margin-left: 15pt;
    margin-right: 15pt;
}
.small_kard{
    border-radius: 7px;
    border-style: solid;
    border-color: rgb(113, 186, 155);
    padding: 10px;
    box-shadow: 0 0 15px rgb(113, 186, 155);
    margin: 10px;
    padding: 15px;
    max-width: 200px;  
    min-height: 300px;
}
.conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.photo{
    background: url(1.png) center no-repeat;
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 50px;
    box-shadow: 0 0 15px rgb(113, 186, 155);
}
@media screen and (max-width: 450px) {
    .photo{
        display: none;
    }
}
@media screen and (min-width: 750px){
    .photo{
        border-radius: 0px;
    }
}